body {
	background-color:#B0E0E6;
}
img {
	border-radius:50%;
}
.click {
	text-align:left;
	margin:5px;
	padding:20px;
	font-size:3em;
	color:#a35c73;
	font-family:Comic Sans MS;
.this {
	text-align:center;
	margin:10px;
	padding:25px;
	font-size:12em;
}
.grid {
	display:grid;
	text-align:center;
}

